/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  letter-spacing: 0px;
}

@font-face {
  font-family: 'icomoon';
  src: url("./fonts/icomoon/fonts/icomoon.eot?9d6p5j");
  src: url("./fonts/icomoon/fonts/icomoon.eot?#iefix9d6p5j") format("embedded-opentype"), url("./fonts/icomoon/fonts/icomoon.ttf?9d6p5j") format("truetype"), url("./fonts/icomoon/fonts/icomoon.woff?9d6p5j") format("woff"), url("./fonts/icomoon/fonts/icomoon.svg?9d6p5j#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^=""], [class*=" "] {
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.clear-day:before {
  content: "\e600";
}

.clear-night:before {
  content: "\e601";
}

.cloudy:before {
  content: "\e602";
}

.fog:before {
  content: "\e603";
}

.partly-cloudy-day:before {
  content: "\e604";
}

.partly-cloudy-night:before {
  content: "\e605";
}

.rain:before {
  content: "\e606";
}

.sleet:before {
  content: "\e607";
}

.snow:before {
  content: "\e608";
}

.wind:before {
  content: "\e609";
}

html, body {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: right;
  padding: 20px;
}

body {
  opacity: 0;
}

body.active {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

.weather, .subway {
  font-size: 42px;
  margin-bottom: 15px;
}

.clock {
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 30px;
}

.weather:before {
  margin-right: 20px;
  font-family: 'icomoon';
}

.subway img {
  margin-right: 20px;
}
