@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?p5nt58');
    src:    url('fonts/icomoon.eot?p5nt58#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?p5nt58') format('truetype'),
        url('fonts/icomoon.woff?p5nt58') format('woff'),
        url('fonts/icomoon.svg?p5nt58#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-stock-graph:before {
    content: "\e900";
}
.icon-clear-day:before {
    content: "\e600";
}
.icon-clear-night:before {
    content: "\e601";
}
.icon-cloudy:before {
    content: "\e602";
}
.icon-fog:before {
    content: "\e603";
}
.icon-partly-cloudy-day:before {
    content: "\e604";
}
.icon-partly-cloudy-night:before {
    content: "\e605";
}
.icon-rain:before {
    content: "\e606";
}
.icon-sleet:before {
    content: "\e607";
}
.icon-snow:before {
    content: "\e608";
}
.icon-wind:before {
    content: "\e609";
}

