html, body {
	font-family: 'Roboto Condensed', sans-serif;
	background: black;
	text-align: right;
	color: white;
	padding: 20px;
	padding-top: 40px;
	padding-right: 40px;
}

body {
	opacity: 0;
	&.active {
		opacity: 1;
		@include transition(opacity 0.2s);
	}
}

.weather, .subway {
	margin-bottom: 60px;
}

// clock
.clock .date {
	font-size: 52px;
	margin-bottom: 20px;
}

.clock .time {
	font-size: 128px;
	font-weight: bold;
	margin-bottom: 15px;
	> span {
		font-size: 24px;
		margin-left: 5px;
		font-weight: normal;
	}
}

// weather
.weather {
	font-size: 100px;
	&:before {
		margin-right: 20px;
		font-family: 'icomoon';
	}
}

// subway
.subway {
	font-size: 52px;
	img {
		margin-right: 20px;
	}
}

// news
.news {
	h3 {
		font-size: 48px;
		text-decoration: underline;
	}
	ul {
		position: relative;
		min-height: 100px;
		li {
			right: 0;
			top: 20px;
			opacity: 0;
			font-size: 36px;
			position: absolute;
			@include transition(opacity 0.5s);
			&.active {
				opacity: 1;
				@include transition(opacity 1s);
			}
		}
	}
}

// stocks
.stocks {
	.slider {
		float: right;
		overflow: hidden;
		display: inline-block;
	}
	ul {
		left: 0px;
		@include clearfix;
		position: relative;
		@include transform(translateZ(0));
		li.stock {
			float: left;
			padding-left: 20px;
			&:first-child {
				margin-left: 0px;
			}
			&:before {
				content: '';
				display: inline-block;
				@include triangle(10px, $red, down)
			}
			&.up {
				color: $green;
				&:before {
					@include triangle(0px, $red, down)
					@include triangle(10px, $green, up)		
				}
			}
			&.down {
				color: $red;
			}
		}
	}
}