html, body {
	font-family: 'Dosis', sans-serif;
	// background: black;
	text-align: right;
	// color: white;
	padding: 20px;
}

.clock, .weather {
	font-size: 72px;
	margin-bottom: 15px;
}

.weather {
	&:before {
		margin-right: 40px;
		font-family: 'icomoon';
	}
}

