html, body {
	font-family: 'Roboto Condensed', sans-serif;
	background: black;
	text-align: right;
	padding: 20px;
	color: white;
	padding-right: 40px;
}

body {
	opacity: 0;
	&.active {
		opacity: 1;
		@include transition(opacity 0.2s);
	}
}

.weather, .subway {
	margin-bottom: 60px;
}

.clock .date {
	font-size: 52px;
	margin-bottom: 20px;
}

.clock .time {
	font-size: 128px;
	font-weight: bold;
	margin-bottom: 15px;
	> span {
		font-size: 24px;
		margin-left: 5px;
		font-weight: normal;
	}
}

.weather {
	font-size: 100px;
	&:before {
		margin-right: 20px;
		font-family: 'icomoon';
	}
}

.subway {
	font-size: 52px;
	img {
		margin-right: 20px;
	}
}

.news {
	h3 {
		font-size: 48px;
		text-decoration: underline;
	}
	ul {
		position: relative;
		min-height: 100px;
		li {
			right: 0;
			top: 20px;
			opacity: 0;
			font-size: 36px;
			position: absolute;
			@include transition(opacity 0.5s);
			&.active {
				opacity: 1;
				@include transition(opacity 1s);
			}
		}
	}
}